body {
    padding: 100px;
}

a {
    margin-bottom: 60px;
}

#Container {
    margin: 10%;
    width: 1000px;
    height: 100vh;
    display: flexbox;
    flex-direction: row;
}

div.produit {
    width: 400px;
    margin: 50px;
}

h2 {
    padding: 10px;
    color: brown;
    border: black solid 2px;
    margin: 1%;
}

.prix {
    font-size: larger;
    font-weight: bold;
}

button {}