<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/CSS/valide.css}">
	<title>Achat</title>
</head>
<header>
	<a href="/prodlist">Retour liste produits</a>
	<h1>E-shop une fois, e-shop toujours</h1>
	<div></div>
</header>

<body>
	<p>Votre commande à été validée, merci pour votre achat !</p>
</body>

</html>