<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/CSS/panier.css}">
	<title>Panier</title>
</head>

<header>
	<a href="/interne">Retour liste fournisseurs</a><br>
	<h1>E-shop une fois, e-shop toujours</h1>
	<form action="/achatinterne" method="get">
		<button type="submit" th:unless="${products.isEmpty()}">Valider la commande</button>
	</form>
</header>

<body>
	<div class="vide" th:if="${products.isEmpty()}">
		Votre commande est vide.
	</div>
	<div class="total" th:unless="${products.isEmpty()}">Votre total est de : <span th:text="${total}"></span> €</div>
	<div class="produit" th:each="prod:${products}">
		<div class="desc">
			<span class="nom" th:text="${prod.nom}"></span>
			<span class="description" th:text="${prod.description}"></span>
			<span class="categorie" th:text="${prod.categorie}"></span>
			<span class="prix" th:text="${prod.prix}"></span><br>
		</div>
		<form action="/commande" method="post">
			<input type="hidden" name="id" th:value="${prod.idprod}">
			<button type="submit">Retirer de la commande</button>
		</form>
	</div>
</body>

</html>²