<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/CSS/interne.css}">
	<title>Fournisseurs</title>
</head>
<header>
	<a href="/">Retourner à l'index</a>
	<h1>E-shop une fois, e-shop toujours</h1>
	<a href="/historique">Historique des Achats et Ventes</a>
</header>
<body>
	<div class="fournisseur" th:each="four:${fournisseurs}">
		<span th:text="${four.nom}"></span>
		<form action="/interne" method="post">
			<input type="hidden" name="id" th:value="${four.idfour}">
			<button type="submit">Acheter chez ce fournisseur</button>
		</form>
	</div>
</body>

</html>