<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Liste Produits</title>
</head>

<body>
	<a href="/prod">Créer des produits</a>
	<div th:each="prod:${products}">
		<span th:text="${prod.nom}"></span>
		<span th:text="${prod.description}"></span>
		<span th:text="${prod.categorie}"></span>
		<span th:text="${prod.ref}"></span>
		<span th:text="${prod.prix}"></span>
		<form th:action="@{/prod/prodlist}" method="post">
			<input type="hidden" name="productId" th:value="${prod.idprod}" />
			<button type="submit">Ajouter au panier</button>
		</form>
	</div>
</body>

</html>