<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Produits</title>
</head>
<body>
	<form method="post" th:action="@{/prod}" th:object="${product}">
		<label for="name">Name:</label><br>
		<input type="text" th:field="*{nom}"><br>
		<label for="description">Description:</label><br>
		<input type="text" th:field="*{description}"><br>
		<label for="category">Category:</label><br>
		<input type="text" th:field="*{categorie}"><br>
		<label for="reference">Reference:</label><br>
		<input type="number" th:field="*{ref}"><br>
		<label for="price">Price:</label><br>
		<input type="number" th:field="*{prix}"><br>
		<br>
		<input type="submit" value="Submit">
	</form>
	<a href="/prod/prodlist">Liste des produits</a>
</body>
</html>